@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a class="btn btn-primary mb-3" asp-controller="Teachers" asp-action="Create">Create</a>

<table class="table">
    <thead>
        <tr>
            <th> Name </th>
            <th> Email </th>
            <th> Department </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> Ben Hurrel </td>
            <td> Benhurrel@example.com </td>
            <td> Physics </td>
            <td> <a class="btn btn-primary mb-3" asp-controller="Teachers" asp-action="Details">Details</a></td>
        </tr>
        <tr>
            <td> Carla Vaughan  </td>
            <td> CarlaVaughan@example.com </td>
            <td> Statistics </td>
            <td> <a class="btn btn-primary mb-3" asp-controller="Teachers" asp-action="Details">Details</a></td>
        </tr>
        <tr>
            <td> Susan Herridge </td>
            <td> SusanHerridge@example.com </td>
            <td> Economics</td>
            <td> <a class="btn btn-primary mb-3" asp-controller="Teachers" asp-action="Details">Details</a></td>
        </tr>

    </tbody>

</table>