@model List<WebApplication1.Models.TeachersDetailsViewModel>;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a class="btn btn-primary mb-3" asp-controller="Teachers" asp-action="Create">Create</a>

<table class="table">
    <thead>
        <tr>
            <th> Name </th>
            <th> Email </th>
            <th> Department </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Teacher in Model)
        {
            <tr>
                <td> @Teacher.Name </td>
                <td> @Teacher.Email </td>
                <td> @Teacher.Department </td>
                <td> <a class="btn btn-primary mb-3" asp-controller="Teachers" asp-action="Details">Details</a></td>
            </tr>
        }


    </tbody>

</table>