@model WebApplication1.Models.StudentCreateViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 class="mb-4">Create Student</h2>

<form method="post" action="Create" class="card p-4 shadow-sm" style="max-width: 500px; margin: auto;">
    <div class="mb-3">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="mb-3">
        <label for="Name">Name</label>
        <input asp-for="Name" type="text" id="Name" class="form-control" />
		<span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label for="Email">Email</label>
        <input asp-for="Email" type="email" id="Email" name="Email" class="form-control" />
		<span asp-validation-for="Email"></span>
    </div>
     
    <div>
        @ViewBag.Message
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

@* <form method="post" action="CreateStudent">
    <div>
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" required />
    </div>
    <div>
        <label for="Email">Email</label>
        <input type="email" id="Email" name="Email" required />
    </div>
    <div>
        <label for="EnrollmentDate">Enrollment Date</label>
        <input type="date" id="EnrollmentDate" name="EnrollmentDate" required />
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form> *@