@using WebApplication1.ViewModels
@model StudentDetailViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Delete student</h2>

@*<form asp-controller="Students" asp-action="Delete" method="post" style="display:inline">
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger" onclick="return confirm('Delete this student?');">🗑️ Delete</button>
</form>*@