@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Generate html for rendering a list of students-->
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Enrollment Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jane Doe</td>
            <td>jane.doe@example.com</td>
            <td>2024-09-01</td>
        </tr>
        <tr>
            <td>John Smith</td>
            <td>john.smith@example.com</td>
            <td>2024-09-02</td> 
        </tr>
        <tr>
            <td>Emily Johnson</td>
            <td>emily.johnson@example.com</td>
            <td>2024-09-03</td> 
        </tr> 
    </tbody>
</table>