@model List<WebApplication1.Models.StudentDetailViewModel>

<!--Generate html for rendering a list of students-->

<a class="btn btn-primary mb-3" asp-controller="Students" asp-action="Create">Create New Student</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Enrollment Date</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.EnrolmentDate</td>
                <td> <a class="btn btn-primary mb-1" asp-controller="Students" asp-action="Details">Deatils</a> </td>

            </tr>
        } 
    </tbody>
</table>