@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My School Management System (SMS)</h1>
    <p>Manage student's record, teachers etc.</p>
    <p>Anther Parg</p>
</div>
